* {
    margin: 10px;
}
/* Top header reading "Weather Dashboard" and it's background */
header {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(red, yellow);
    
}
/* Top header words "Weather Dashboard" ONLY */
header h1 {
    margin-right: 100px;
    color: white;
}

/* "Search for a City" header, input text box, Search button, and search history/city buttons */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

/* Box under Search button that displays cities already searched as buttons */
.city-buttons {
    border: rgb(181, 181, 181) 1px;
    border-style: solid;
    width: 25%;
    margin-left: 0px;
}