* {
    margin: 10px;
}

/* Top header reading "Weather Dashboard" and it's background */
header {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(red, yellow);
}

/* Top header words "Weather Dashboard" ONLY */
header h1 {
    margin-right: 50px;
    color: white;
}

/* "Search for a City" header, input text box, Search button, and search history/city buttons */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -50px;
    margin-right: 0%;
}

/* The "Search for a City" words ONLY */
.form-label {
    font-size: 20px;
}

/* Line dividing Search button and search history city buttons */
#line-divide {
    border-top: rgb(181, 181, 181) 1px;
    border-style: solid;
    margin-left: 10%;
}


/* 5 day forecast header AND cards */
#five-day-forecast-container { 
    margin-left: 26%;
}

/* Top Card displaying today's weather */
#current-city-weather {
    height: 300px;
}

/* Temp, wind, speed text for whole page */
p {
    font-size: 15px;
    line-height: 30px;
}

/* Search history buttons */
#button-style {
    background-color: #1a6efe;
    color: white;
    width: 100%;
    height: 32px;
    padding: 2px;
    margin-left: 10px;
    border-radius: 0.25rem;
    font-size: 15px;
    margin-bottom: 5px;
}

/* Search history buttons */
#button-style:hover {
    background-color: #0053e3;
}